@font-face {
    font-family: 'icons';
    src: url('fonts/icons.ttf?zuogk') format('truetype'),
    url('fonts/icons.woff?zuogk') format('woff'),
    url('fonts/icons.svg?zuogk#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
    content: "\e905";
}

.icon-vk:before {
    content: "\e906";
}

.icon-close:before {
    content: "\e90b";
}

.icon-arrow-right:before {
    content: "\e909";
}

.icon-arrow-left:before {
    content: "\e90a";
}

.icon-Shape-19:before {
    content: "\e908";
}

.icon-search:before {
    content: "\e904";
}

.icon-phone:before {
    content: "\e900";
}

.icon-reg:before {
    content: "\e901";
}

.icon-question:before {
    content: "\e902";
}

.icon-profile:before {
    content: "\e903";
}
