<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>safetrend</title>
    <meta name="viewport" content="width=1400, initial-scale=1">
    <link rel="stylesheet" href="http://localhost:8080/bundle/safetrend.css">
</head>
<body>
<div class="p-header container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <a href="/" class="b-logo">
                <img src="/data/images/logo.png" class="b-logo__image">
            </a>
        </div>
        <div class="col-lg-7">
            <ul class="b-main-menu">
                <li class="b-main-menu__item">
                    <a href="#" class="b-main-menu__link b-main-menu__link_active">О компании </a>
                </li>
                <li class="b-main-menu__item"><a href="#" class="b-main-menu__link">Условия торговли </a></li>
                <li class="b-main-menu__item"><a href="#" class="b-main-menu__link">Партнерство</a></li>
                <li class="b-main-menu__item"><a href="#" class="b-main-menu__link">Отзывы</a></li>
                <li class="b-main-menu__ item"><a href="#" class="b-main-menu__link">Контакты</a></li>
            </ul>
        </div>
        <div class="col-lg-5">
            <div class="header-right">
                <div class="header-right__line">
                    <div class="b-search">
                        <a href="#" class="icon-search"></a>
                    </div>
                    <div class="b-phone">
                        <span class="icon-phone"></span>
                        <span class="b-phone__number">+7 (495) <b>402-21-42</b></span>
                    </div>
                    <div class="b-langs">
                        <span class="b-langs__lang b-langs__lang_active">RUS</span>
                        <a href="#" class="b-langs__lang">ENG</a>
                    </div>
                </div>
                <div class="header-right__line2">
                    <a href="#" class="b-head-link" data-popup="requestPopup">
                        <span class="icon-question"></span>
                        <span class="b-head-link__text">Задать вопрос</span>
                    </a>
                    <a href="#" class="b-head-link">
                        <span class="icon-profile"></span>
                        <span class="b-head-link__text">Личный кабинет</span>
                    </a>
                    <a href="#" class="b-head-link">
                        <span class="icon-reg"></span>
                        <span class="b-head-link__text">Регистрация</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% block content %}{% endblock %}

<div class="p-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <div class="b-footer-menu">
                    <div>
                        <a href="#" class="b-footer-menu__link b-footer-menu__link_active">О компании</a>
                        <a href="#" class="b-footer-menu__link b-footer-menu__link">Парнтнерство</a>
                        <a href="#" class="b-footer-menu__link b-footer-menu__link">Контакты</a>
                    </div>
                    <div>
                        <a href="#" class="b-footer-menu__link b-footer-menu__link">Условия торговли</a>
                        <a href="#" class="b-footer-menu__link b-footer-menu__link">Отзывы</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="b-footer-feedback">
                    Мы всегда на связи +7 (495) <b>402-21-42</b> <a href="#"
                                                                    class="g-button g-button_blank b-footer-feedback__button" data-popup="requestPopup"><span
                                class="g-button__icon icon-question"></span> Обратная связь</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <div class="b-copy">
                    <div class="b-copy__year">© 2016 Volak Group</div>
                    <div class="b-copy__description">
                        Сайт находится под управлением company Volak LTD,Geneva Place, Waterfront Drive, PO
                        Box 3469.
                        Road Town, Tortola
                        <br>
                        Лицензия № 045-13567-001000 на осуществление брокерской деятельностии
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="b-socials">
                    <a href="http://vk.com/share.php?url=http://safetrend.ru" onclick="window.open('http://vk.com/share.php?url=http://safetrend.ru','Safetrend','width=600,height=400')" target="_blank" class="b-socials__icon icon-vk"></a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://safetrend.ru" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://safetrend.ru','Safetrend','width=600,height=400')" target="_blank" class="b-socials__icon icon-fb"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="requestPopup" class="js-popup b-request-popup container-fluid">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-5">
            <h1 class="center">Отправить заявку</h1>
            <div class="b-request-popup__required_note center">Поля, отмеченные *, обязательны для заполнения
            </div>
            <div class="js-form">
                <form id="requestForm" action="./ajax.php" method="post">
                    <div class="help-block base-error"></div>
                    <div class="form-group">
                        <label for="name" class="control-label">Ваше имя</label>

                        <input name="name" type="text" class="form-control" id="name"
                               placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Ваш e-mail</label>

                        <input name="email" type="email" class="form-control" id="email"
                               placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="control-label">Ваш телефон</label>

                        <input name="phone" type="tel" class="form-control" id="phone"
                               placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="message" class="control-label">Ваше сообщение:</label>

                        <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group center b-request-popup__button">
                        <button type="submit" class="g-button g-button_shadow g-button_big">Отправить заявку</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="http://localhost:8080/bundle/common.js"></script>
<script src="http://localhost:8080/bundle/safetrend.js"></script>
</body>
</html>
