{% extends "../layout.twig" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h1 class="g-page-h1">Контакты</h1>
            <div class="b-breadcrumbs">
                <a href="#" class="b-breadcrumbs__item">Главная</a>
                <span class="b-breadcrumbs__item">Контакты</span>
            </div>
        </div>
    </div>
</div>


<div class="b-map" data-coords="[-25.367421, 131.063741]">
    <div class="js-map"></div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
            <div class="b-addresses">
                <div class="b-addresses__item">
                    <div class="b-addresses__title">Адрес</div>
                    <div class="b-addresses__info">432063 Ульяновск <br>
                        2-й пер. Мира, 24, 3 этаж, офис 302
                    </div>
                </div>
                <div class="b-addresses__item">
                    <div class="b-addresses__title">Мы работаем
                    </div>
                    <div class="b-addresses__info">По будням с 10:00 до 20:00 <br>
                        Суббота и воскресенье — выходные
                    </div>
                </div>
                <div class="b-addresses__item">
                    <div class="b-addresses__title">Телефон</div>
                    <div class="b-addresses__info">8 (842) 273-03-57</div>
                </div>
                <div class="b-addresses__item">
                    <div class="b-addresses__title">E-mail</div>
                    <div class="b-addresses__info">mail@volakk.ru</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-digest-wide">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <div class="b-digest-wide__left">
                    <img src="/data/images/icons/digest_white.png" class="b-digest-wide__icon">
                    <div class="b-digest-wide__title">Брокерский дайджест</div>
                    <div class="b-digest-wide__subtitle">Подпишитесь на рассылку от Volak</div>
                </div>
                <div class="b-digest-wide__right">
                    <form action="#" class="b-digest__form">
                        <input type="text" class="g-input g-input_transparent" placeholder="Ваш e-mail">
                        <button class="g-button g-button_white g-button_big">Подписаться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}