{% extends "../layout.twig" %}
{% block content %}

<div class="b-error" style="background: url('/data/images/error_background.png')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <img src="/data/images/404.png" alt="" class="b-error__code"> <span class="b-error__str">ошибка</span>
                <div class="b-error__title">Извините, такой страницы на сайте не существует</div>
                <div class="b-error__description">Вы можете перейти на <a href="#">главную страницу</a> или
                    воспользоваться <a href="#">поиском</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}