{% extends "../layout.twig" %}
{% block content %}
<div class="b-slider" data-autoplay="true">
    <div class="b-slider__slides">
        <div class="b-slider__slide">
            <div class="b-slider__image" style="background-image: url('/data/images/background.png')">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-2">
                            <div class="b-slider-content">
                                <div class="b-slider-content__title">Volak Group</div>
                                <div class="b-slider-content__subtitle">Лидирующие позиции на рынке форекс</div>
                                <img src="/data/images/triangles.svg" class="b-slider-content__triangles">
                                <div class="b-slider-content__description">Лицензия <b>№ 045-13567-001000</b> на
                                    осуществление
                                    брокерской деятельностии
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-slider__slide">
            <div class="b-slider__image" style="background-image: url('/data/images/background.png')">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-2">
                            <div class="b-slider-content">
                                <div class="b-slider-content__title">Volak Group</div>
                                <div class="b-slider-content__subtitle">Лидирующие позиции на рынке форекс</div>
                                <img src="/data/images/triangles.svg" class="b-slider-content__triangles">
                                <div class="b-slider-content__description">Лицензия <b>№ 045-13567-001000</b> на
                                    осуществление
                                    брокерской деятельностии
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-slider__slide">
            <div class="b-slider__image" style="background-image: url('/data/images/background.png')">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-2">
                            <div class="b-slider-content">
                                <div class="b-slider-content__title">Volak Group</div>
                                <div class="b-slider-content__subtitle">Лидирующие позиции на рынке форекс</div>
                                <img src="/data/images/triangles.svg" class="b-slider-content__triangles">
                                <div class="b-slider-content__description">Лицензия <b>№ 045-13567-001000</b> на
                                    осуществление
                                    брокерской деятельностии
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-slider__bulls">
        <div class="b-slider__bull b-slider__bull_active"></div>
        <div class="b-slider__bull"></div>
        <div class="b-slider__bull"></div>
    </div>
</div>

<div class="b-everyone">
    <h1 class="b-everyone__h1 underlined">Инвестором может стать каждый</h1>
    <p class="b-everyone__description">Широкий выбор инвестиционных продуктов в соответствии с вашей
        торговой и
        инвестиционной стратегией.</p>
</div>

<div class="b-main-cards">
    <div class="b-card">
        <img src="/data/images/icons/tech.png" alt="" class="b-card__icon">
        <h2 class="b-card__title">Технологии</h2>
        <p class="b-card__description">Инновационная торговая платформа UTIP, разработана специально, чтобы
            дать
            Вам максимальный контроль над торговлей.
        </p>
    </div>
    <div class="b-card">
        <img src="/data/images/icons/lock.png" alt="" class="b-card__icon">
        <h2 class="b-card__title">Безопасность</h2>
        <p class="b-card__description">Надежные и проверенные временем банки партнеры, являются гарантом
            сохранности
            ваших сбережений. С прозрачным ценообразованием, без сюрпризов и простотой открытия счета.</p>
    </div>
    <div class="b-card">
        <img src="/data/images/icons/thumbsup.png" alt="" class="b-card__icon">
        <h2 class="b-card__title">Помощь</h2>
        <p class="b-card__description">Опытные финансовые консультанты, всегда готовы в индивидуальном
            порядке решить
            все появившиеся у Вас вопросы.</p>
    </div>
</div>

<div class="b-the-main">
    <div class="b-the-main__bg" style="background-image: url('/data/images/background2.png')"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-3">
                <div class="b-the-main__title">кратко <span class="b-the-main__title_light">о главном</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-lg-offset-3">
                <div class="b-the-main__line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-lg-offset-4">
                <p class="b-the-main__description">
                    С Volak, вы можете <b>торговать</b> раз в день, раз в месяц или раз в год,
                    <b>не беспокоясь</b> о скрытых комиссиях или неожиданных потерях. Являетесь ли Вы <b>активным</b>
                    трейдером, <b>долгосрочным</b> инвестором или только начинаете свой путь на рынке, мы
                    предлагаем
                    широкий <b>выбор</b> инвестиционных продуктов в соответствии с вашей торговой
                    и инвестиционной стратегией , чтобы соответствовать вашему стилю.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="b-liquidity">
    <div class="b-liquidity__title">Надежные поставщики ликвидности</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2 b-liquidity__logos">
                <img src="/data/images/logos/Layer%206.png" alt="" height="38" class="b-liquidity__logo">
                <img src="/data/images/logos/Layer%207.png" alt="" height="34" class="b-liquidity__logo">
                <img src="/data/images/logos/Layer%208.png" alt="" height="50" class="b-liquidity__logo">
            </div>
            <div class="col-lg-10 col-lg-offset-2 b-liquidity__logos">
                <img src="/data/images/logos/Layer%209.png" alt="" height="41" class="b-liquidity__logo">
                <img src="/data/images/logos/Layer%2010.png" alt="" height="50" class="b-liquidity__logo">
                <img src="/data/images/logos/Layer%2011.png" alt="" height="55" class="b-liquidity__logo">
            </div>
        </div>
    </div>
</div>

<div class="b-digest">
    <img class="b-digest__icon" src="/data/images/icons/digest.png" alt="">
    <div class="b-digest__subtitle">Будьте всегда в курсе</div>
    <div class="b-digest__title">Ваш брокерский дайджест</div>
    <form action="#" class="b-digest__form">
        <input type="text" class="g-input" placeholder="Ваш e-mail">
        <button class="g-button g-button_shadow g-button_big">Подписаться</button>
    </form>
</div>

{% endblock %}