{% extends "../layout.twig" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-1">
            <h1 class="g-page-h1">Заголовок H1</h1>
            <div class="b-breadcrumbs">
                <a href="#" class="b-breadcrumbs__item">Главная</a>
                <span class="b-breadcrumbs__item">Универсальная страница</span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-1 p-content">
            <div class="b-bg-block" style="background-image: url('/data/images/slide.png')">
                <h1>Заголовок статьи новости
                    или еще чего-нибудь</h1>
                <p>Краткое описание статьи или новости. Платформа для брокера – важный элемент
                    бизнеса. Она должна отвечать всем современным требованиям.</p>
            </div>
            <blockquote>
                Преамбула или выдержка. Ульяновский офис компании VOLAK образован в 2013 году и на данный момент
                занимает лидирующие позиции по оказанию консалтинговых услуг в сфере рынка FOREX.
            </blockquote>
            <h2>Заголовок H2</h2>
            <p>Компания Volak занимается предоставлением услуг интернет-трейдинга на рынке Форекс. Компания
                зарегистрирована на Британских Виргинских островах. Volak осуществляет свою деятельность на территории
                России, имеет представительства в городах: Ульяновск, Самара, Тольятти. Компания считает основным
                направлением деятельности обеспечение качественного обслуживания клиентов и своевременную техническую
                поддержку. Компании Volak также проводит обучение для новичков и предлагает им открыть демо-счет для
                выработки торговой стратегии. Компания Volak предлагает самое новое и передовое программное обеспечение.
                Для торговли на реальном счете клиенты могут скачать торговый терминал UTIP Trader, преимуществами
                которого являются удобный и понятный интерфейс, а также высокая скорость работы. На сайте брокера
                размещены материалы по техническому и фундаментальному анализу, последние новости рынка, есть доступ к
                экономическому календарю.
            </p>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7">
                        <h3>Заголовок H3</h3>
                        <p>Компания Volak занимается предоставлением услуг интернет-трейдинга на рынке Форекс. Компания
                            зарегистрирована на Британских Виргинских островах. Volak осуществляет свою деятельность на
                            территории России, имеет представительства в городах: Ульяновск, Самара, Тольятти. Компания
                            считает основным направлением деятельности обеспечение качественного обслуживания клиентов и
                            своевременную техническую поддержку. Компании Volak также проводит обучение для новичков и
                            предлагает им открыть демо-счет для выработки торговой стратегии. Компания Volak предлагает
                            самое новое и передовое программное обеспечение. Для торговли на реальном счете клиенты
                            могут скачать торговый терминал UTIP Trader, преимуществами которого являются удобный и
                            понятный интерфейс, а также высокая скорость работы. На сайте брокера размещены материалы по
                            техническому и фундаментальному анализу, последние новости рынка, есть доступ к
                            экономическому календарю.
                        </p>
                    </div>
                    <div class="col-lg-7">
                        <h3>Заголовок H3</h3>
                        <p>Компания Volak занимается предоставлением услуг интернет-трейдинга на рынке Форекс. Компания
                            зарегистрирована на Британских Виргинских островах. Volak осуществляет свою деятельность на
                            территории России, имеет представительства в городах: Ульяновск, Самара, Тольятти. Компания
                            считает основным направлением деятельности обеспечение качественного обслуживания клиентов и
                            своевременную техническую поддержку. Компании Volak также проводит обучение для новичков и
                            предлагает им открыть демо-счет для выработки торговой стратегии. Компания Volak предлагает
                            самое новое и передовое программное обеспечение. Для торговли на реальном счете клиенты
                            могут скачать торговый терминал UTIP Trader, преимуществами которого являются удобный и
                            понятный интерфейс, а также высокая скорость работы. На сайте брокера размещены материалы по
                            техническому и фундаментальному анализу, последние новости рынка, есть доступ к
                            экономическому календарю.
                        </p>
                    </div>
                </div>
            </div>

            <div class="b-slider b-slider_content">
                <div class="b-slider__wrapper">
                    <div class="b-slider__wrapper2">
                        <div class="b-slider__slides">
                            <div class="b-slider__slide">
                                <img src="/data/images/slide.png" alt="Alt">
                            </div>
                            <div class="b-slider__slide">
                                <img src="/data/images/slide.png" alt="Alt2">
                            </div>
                            <div class="b-slider__slide">
                                <img src="/data/images/slide.png" alt="Alt3">
                            </div>
                        </div>
                    </div>
                    <div class="b-slider__bulls">
                        <div class="b-slider__bull b-slider__bull_active"></div>
                        <div class="b-slider__bull"></div>
                        <div class="b-slider__bull"></div>
                    </div>
                    <div class="b-slider__left icon-arrow-left"></div>
                    <div class="b-slider__right icon-arrow-right"></div>
                </div>
                <div class="b-slider__caption">Возможно понадобится подпись для фотографии</div>
            </div>

            <h3>Заголовок таблицы H3</h3>

            <table>
                <thead>
                <tr>
                    <th width="15%">Season</th>
                    <th width="25%">Goals</th>
                    <th width="25%">Assists</th>
                    <th width="35%">Assists</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2009-2010</td>
                    <td>25</td>
                    <td>43</td>
                    <td>43</td>
                </tr>
                <tr>
                    <td>2011-2012</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>2011-2012</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>2011-2012</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>2011-2012</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>2011-2012</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>2011-2012</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>2011-2012</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>2011-2012</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                </tr>
                </tbody>
            </table>

            <div class="b-notifications">
                <div class="g-notification g-notification_success">qwe</div>
                <div class="g-notification g-notification_danger">qwe</div>
                <div class="g-notification g-notification_warning">qwe</div>
            </div>

            <div class="b-tabs">
                <div class="b-tabs__header">
                    <div class="b-tabs__item b-tabs__item_active">Активный таб</div>
                    <div class="b-tabs__item">Простой таб</div>
                    <div class="b-tabs__item">Ховереный таб</div>
                </div>
                <div class="b-tabs__content">
                    <div class="b-tabs__container">
                        <div class="b-buttons">
                            <button class="g-button" disabled>Неактивная кнопка</button>
                            <button class="g-button">Стандартная кнопка</button>
                            <button class="g-button g-button_inverted">Инвертированная кнопка</button>
                            <button class="g-button g-button_warning">Предупреждение кнопка</button>
                            <button class="g-button g-button_danger">Опасность кнопка</button>
                            <button class="g-button g-button_success">Удача кнопка</button>
                            <button class="g-button g-button_shadow">Тенюшка кнопка</button>
                        </div>
                    </div>
                    <div class="b-tabs__container">
                        <h2>Заголовок H2</h2>
                        <p>Компания Volak занимается предоставлением услуг интернет-трейдинга на рынке Форекс. Компания
                            зарегистрирована на Британских Виргинских островах. Volak осуществляет свою деятельность на
                            территории
                            России, имеет представительства в городах: Ульяновск, Самара, Тольятти. Компания считает
                            основным
                            направлением деятельности обеспечение качественного обслуживания клиентов и своевременную
                            техническую
                            поддержку. Компании Volak также проводит обучение для новичков и предлагает им открыть
                            демо-счет для
                            выработки торговой стратегии. Компания Volak предлагает самое новое и передовое программное
                            обеспечение.
                            Для торговли на реальном счете клиенты могут скачать торговый терминал UTIP Trader,
                            преимуществами
                            которого являются удобный и понятный интерфейс, а также высокая скорость работы. На сайте
                            брокера
                            размещены материалы по техническому и фундаментальному анализу, последние новости рынка,
                            есть доступ к
                            экономическому календарю.
                        </p></div>
                    <div class="b-tabs__container">
                        <blockquote>
                            Преамбула или выдержка. Ульяновский офис компании VOLAK образован в 2013 году и на данный
                            момент
                            занимает лидирующие позиции по оказанию консалтинговых услуг в сфере рынка FOREX.
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="b-video" data-type="youtube" data-id="s86-Z-CbaHA">
                <div class="js-video">
                    <div class="b-video_overlay"></div>
                </div>
                <div class="b-video__caption">Возможно понадобится подпись для фотографии</div>
            </div>
        </div>
    </div>
</div>

<div class="b-digest-wide">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <div class="b-digest-wide__left">
                    <img src="/data/images/icons/digest_white.png" class="b-digest-wide__icon">
                    <div class="b-digest-wide__title">Брокерский дайджест</div>
                    <div class="b-digest-wide__subtitle">Подпишитесь на рассылку от Volak</div>
                </div>
                <div class="b-digest-wide__right">
                    <form action="#" class="b-digest__form">
                        <input type="text" class="g-input g-input_transparent" placeholder="Ваш e-mail">
                        <button class="g-button g-button_white g-button_big">Подписаться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}