@font-face {
  font-family: 'Stem';
  src: url('../fonts/Stem-Regular.eot');
  src: url('../fonts/Stem-Regular.woff2') format('woff2'),
  url('../fonts/Stem-Regular.woff') format('woff'),
  url('../fonts/Stem-Regular.ttf') format('truetype'),
  url('../fonts/Stem-Regular.svg#Stem-Regular') format('svg'),
  url('../fonts/Stem-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url('../fonts/Stem-Bold.eot');
  src: url('../fonts/Stem-Bold.woff2') format('woff2'),
  url('../fonts/Stem-Bold.woff') format('woff'),
  url('../fonts/Stem-Bold.ttf') format('truetype'),
  url('../fonts/Stem-Bold.svg#Stem-Bold') format('svg'),
  url('../fonts/Stem-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url('../fonts/Stem-Light.eot');
  src: url('../fonts/Stem-Light.woff2') format('woff2'),
  url('../fonts/Stem-Light.woff') format('woff'),
  url('../fonts/Stem-Light.ttf') format('truetype'),
  url('../fonts/Stem-Light.svg#Stem-Light') format('svg'),
  url('../fonts/Stem-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Stem';
  src: url('../fonts/Stem-Medium.eot');
  src: url('../fonts/Stem-Medium.woff2') format('woff2'),
  url('../fonts/Stem-Medium.woff') format('woff'),
  url('../fonts/Stem-Medium.ttf') format('truetype'),
  url('../fonts/Stem-Medium.svg#Stem-Medium') format('svg'),
  url('../fonts/Stem-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}
