@import "bootstrap.less";
@import "fonts";
@import "../icons/style.css";

html {
  &.popup {
	overflow: hidden;
	padding-right: 17px;
  }
}

body {
  font-family: Stem, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-width: 1349px;
  cursor: default;
}

h1, .h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 24px;

  &.underlined {
	position: relative;

	&:after {
	  background-color: #5eda9d;
	  content: '';
	  position: absolute;
	  width: 84px;
	  height: 10px;
	  left: 50%;
	  bottom: -31px;
	  transform: translateX(-50%);
	}
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;

  &.light {
	font-weight: 300;
  }
}

h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

p {
  color: #7d7d7d;
}

.container-fluid {
  padding: 0 30px;

  //@media (max-width: 1366px) {
  //padding: 0;
  //}

  .container-fluid {
	padding: 0;
  }
}

.p-header {
  height: 90px;
}

.b-logo {
  margin-top: 20px;
  display: inline-block;
}

.b-main-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 40px;
  padding-left: 0;
  margin-bottom: 0;

  &__item {
	  position: relative;
	&:first-of-type {
	  .b-main-menu__link {
		margin-left: 0;
	  }
	}
  }

	&__item:first-of-type &__sub-items {
		margin-left: -35px;
		padding-left: 35px;
	}

	&__item:hover &__sub-items {
		display: block;
	}

	&__sub-items {
		display: none;
		position: absolute;
		z-index: 200;
		top: 50px;
		padding-right: 35px;
		background-color: white;

		&:last-child {
			padding-bottom: 20px;
		}
	}

	&__sub-items &__link {
		line-height: 30px;
		height: 30px;
		white-space: nowrap;
	}

	&__link {
	color: #acacac;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	margin-left: 35px;
	line-height: 46px;
	border-bottom: 2px solid transparent;
	border-top: 2px solid transparent;
	display: inline-block;
	letter-spacing: 100 / 1000em;

	&:hover {
	  color: #5eda9d;
	}

	&_active {
	  color: #5eda9d;
	  border-bottom: 2px solid #5eda9d;
	}
  }
}

.header-right {
  text-align: right;

  &__line {
	margin-top: 16px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	line-height: 18px;
  }

  &__line2 {
	min-width: 480px;
	margin-left: -22px;
  }
}

.b-head-link {
  margin-right: 38px;
  color: black;

  &:last-of-type {
	margin-right: 0;
  }

  &__text {
	margin-left: 9px;
	font-size: 14px;
  }

  .icon-question {
	font-size: 18px;
	position: relative;
	top: 4px;
  }

  .icon-profile {
	font-size: 15px;
	position: relative;
	top: 1px;
  }

  .icon-reg {
	font-size: 15px;
	position: relative;
	top: 1px;
  }
}

.b-phone {
  font-size: 13px;
  margin-left: 40px;
  margin-right: 66px;
  line-height: 18px;

  .icon-phone {
	color: #3c92ca;
	font-size: 18px;
	margin-right: 10px;
	display: inline-block;
	line-height: 18px;
	vertical-align: text-bottom;
  }

  &__number {
	line-height: 18px;
  }
}

.b-search {
	margin-right: 20px;

	.icon-search {
	font-size: 18px;
	color: black;
  }
}

.b-langs {
  &__lang {
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	margin-left: 20px;
	color: #cccccc;

	&:first-child {
	  margin-left: 0;
	}

	&_active {
	  color: #3c92ca;
	}
  }
}

.b-slider {
  position: relative;
  margin-left: 20px;
  width: calc(~'100% - 40px');
  height: calc(~'50vh - 90px');
  overflow: hidden;

  &__caption {
	position: relative;
	text-align: center;
	font-size: 14px;
	color: black;
	padding-bottom: 15px;

	&:after {
	  position: absolute;
	  left: 50%;
	  bottom: 0;
	  content: '';
	  width: 80px;
	  height: 5px;
	  background-color: #5eda9d;
	  transform: translateX(-50%);
	}
  }

  &_content {
	width: calc(~'100% - 2 * ((100% - 220px) / 6 + 40px)');
	margin-left: calc(~'(100% - 220px) / 6 + 40px');
	height: auto;
	margin-top: 60px;
	margin-bottom: 62px;
	overflow: visible;

	img {
	  width: 100%;
	  height: auto;
	}

	.b-slider__wrapper {
	  position: relative;
	  height: 520px;
	  margin-bottom: 15px;
	}

	.b-slider__wrapper2 {
	  position: relative;
	  overflow: hidden;
	  height: 520px;
	}

	.b-slider__bulls {
	  bottom: 16px;
	}

	.b-slider__bull {
	  border: 2px solid #acacac;

	  &_active {
		border-color: white;
		background-color: #55bdad;
	  }
	}

	.b-slider__left, .b-slider__right {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  color: #d7d7d7;
	  font-size: 30px;
	  cursor: pointer;
	  display: inline-block;

	  &:hover {
		color: #54baae;
	  }
	}

	.b-slider__left {
	  left: -57px;
	}

	.b-slider__right {
	  right: -57px;
	}
  }

  &__slides {
	font-size: 0;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	height: calc(~'50vh - 90px');
  }

  &__slide {
	  position: absolute;
	  left: 0;
	  top: 0;
	display: inline-block;
	width: 100%;
	height: calc(~'50vh - 90px');
	  transition: opacity 1s;
	  opacity: 0;

	  &_active {
		  opacity: 1;
		  z-index: 10;
	  }

	.container-fluid {
	  padding: 0 10px;
	  position: relative;
	  top: 39%;
	  transform: translateY(-50%);
	}
  }

  &__image {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
  }

  &__bulls {
	position: absolute;
	  z-index: 20;
	bottom: 36px;
	left: 50%;
	transform: translateX(-50%);
  }

  &__bull {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px solid #acacac;
	margin-right: 2px;
	cursor: pointer;

	&:last-of-type {
	  margin-right: 0;
	}

	&_active {
	  border-color: #55bdad;
	}
  }
}

.b-slider-content {
  position: relative;

  &__title {
	font-weight: bold;
	color: black;
	font-size: 158px;
	margin-bottom: -18px;

  }
  &__subtitle {
	font-weight: bold;
	color: black;
	font-size: 18px;
	margin-bottom: 3px;
  }
  &__description {
	font-size: 12px;
	color: black;
  }

  &__triangles {
	position: absolute;
	width: 100%;
	top: 180px;
	left: 0;
	  z-index: -1;
  }
}

.b-everyone {
  margin-top: 105px;
  margin-bottom: 115px;
  text-align: center;

  &__h1 {
	margin-bottom: 65px;
  }

  &__description {

  }
}

.b-main-cards {
  margin-top: 115px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 181px;
}

.b-card {
  display: inline-block;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 300px;
  min-height: 359px;
  text-align: center;
  padding: 40px 10px 20px;
  box-sizing: border-box;
  margin-right: 100px;

  &:nth-of-type(3n) {
	margin-right: 0;
  }

  &__title {
	margin-top: 40px;
  }
}

.b-the-main {
  margin-top: 181px;
  position: relative;

  &__bg {
	position: absolute;
	margin-left: 20px;
	width: calc(~'100% - 40px');
	background-position: center;
	background-size: cover;
	height: 100%;
  }

  &__title {
	font-size: 24px;
	font-weight: bold;
	color: white;
	margin-top: 135px;
	margin-bottom: 31px;

	&_light {
	  font-weight: 300;
	}
  }

  &__line {
	width: 100%;
	background-color: white;
	height: 5px;
	padding-right: 20px;
	box-sizing: content-box;
  }

  &__description {
	color: white;
	font-size: 18px;
	line-height: 30px;
	margin-top: 54px;
	margin-bottom: 131px;
  }
}

.b-liquidity {
  margin-top: 81px;

  &__title {
	font-size: 36px;
	text-align: center;
	font-weight: bold;
	color: black;
  }

  &__logos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 60px;
	flex-flow: row wrap;
  }

  &__logo {
	margin-bottom: 27px;

	&:nth-of-type(3) {
	  position: relative;
	  top: -13px;
	  white-space: pre;
	}
	&:nth-of-type(4) {
	  position: relative;
	  top: 7px;
	}
  }
}

.g-input, .ya-site-form__input-text {
  color: #acacac;
  border: 1px solid #d7d7d7;
  height: 60px;
  box-sizing: border-box;
  line-height: 58px;
  font-size: 16px;
  padding: 0 24px;
  outline: none;
  margin-right: 18px;

  &_transparent {
	background-color: transparent;
	color: white;
	border-color: white;
	width: 280px;

	&::placeholder {
	  color: white;
	}
  }
}

#ya-site-form0 .ya-site-form__form .ya-site-form__input-text.ya-site-form__input-text {
	border: none;
	font-size: 18px !important;
}

#ya-site-form0 .ya-site-form__form .ya-site-form__submit {
	border: none;
	font-size: 18px !important;
}

.g-button, .ya-site-form__submit {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  appearance: none;
  border: none;
  outline: none;
  color: white;
  background-color: #5eda9d;

  &_big {
	height: 60px;
	padding: 0 40px;
	line-height: 60px;
  }

  &:disabled {
	color: #acacac;
	background-color: #aeecce;
  }

  &_inverted {
	color: black;
	background-color: #a12562;
  }

  &_warning {
	color: white;
	background-color: #f5e100;
  }

  &_danger {
	background-color: #e53f3f;
  }

  &_success {
	background-color: #18f085;
  }

  margin-right: 10px;

  &:last-of-type {
	margin-right: 0;
  }

  &_shadow {
	color: white;
	background-image: linear-gradient(-9deg, rgb(94, 218, 157) 0%, rgb(84, 185, 174) 100%);
	box-shadow: 0px 5px 21px 0px rgba(43, 151, 133, 0.5);
  }

  &_blank {
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	border: 2px solid rgb(85, 189, 173);
	color: black;
	text-transform: uppercase;
	letter-spacing: 100 / 1000em;
	padding: 0 16px;
	line-height: 38px;
	height: 40px;
	background: none;

	.g-button__icon {
	  color: #55bdad;
	}
  }

  &_white {
	background-color: white;
	color: #54b9ae;
	box-shadow: 0px 5px 21px 0px rgba(43, 151, 133, 0.5);
  }

  &__icon {
	font-size: 18px;
	margin-right: 6px;
	position: relative;
	top: 4px;
  }
}

.b-digest {
  text-align: center;
  margin-top: 114px;
  margin-bottom: 90px;

  &__icon {
	position: relative;
	left: -16px;
	margin-bottom: 47px;
  }

  &__subtitle {
	color: #acacac;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 50 / 1000em;
	margin-bottom: 14px;
  }

  &__title {
	font-size: 36px;
	text-align: center;
	font-weight: bold;
	color: black;
	margin-bottom: 40px;
  }

  .g-input {
	width: 280px;
  }
}

.p-footer {
  position: relative;
  margin-bottom: 20px;
  padding-top: 42px;
  padding-bottom: 60px;

  &:before {
	content: '';
	top: 0;
	height: 100%;
	background-color: #f4f4f4;
	width: calc(~'100% - 40px');
	left: 20px;
	position: absolute;
  }
}

.b-footer-feedback {
  text-align: right;

  &__button {
	margin-top: -6px;
	position: relative;
	top: -2px;
	margin-left: 25px;
  }
}

.b-socials {
  margin-top: 69px;
  text-align: right;

  &__icon {
	color: #55bdad;
	margin-left: 16px;
	font-size: 21px;
  }
}

.b-footer-menu {
  &__link {
	font-size: 13px;
	color: #acacac;
	line-height: 24px;
	font-weight: bold;
	min-width: 175px;
	display: inline-block;

	&:nth-of-type(3n - 1) {
	  min-width: 140px;
	}

	&_active {
	  color: black;
	}
  }
}

.b-copy {
  margin-top: 63px;

  &__year {
	font-size: 14px;
	color: black;
	margin-bottom: 15px;
  }

  &__description {
	font-size: 12px;
	color: #acacac;
	line-height: 18px;
  }
}

.b-map {
  height: 410px;
  width: calc(~'100% - 40px');
  margin-left: 20px;

  .js-map {
	height: 100%;
  }
}

.g-page-h1 {
  margin-top: 16px; // на контактах?
  margin-top: 35px;
  margin-left: -3px;
  margin-bottom: 15px;
}

.b-breadcrumbs {
  margin-bottom: 15px;

  &__item {
	font-size: 12px;
	color: #54b9ae;

	a& {
	  position: relative;
	  margin-right: 21px;
	  color: #acacac;
	  text-decoration: underline;

	  &:after {
		position: absolute;
		top: 0px;
		right: -17px;
		content: '\2192 ';
	  }
	}
  }
}

.b-addresses {
  margin-top: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 43px;

  &__item {
	line-height: 40px;
	margin-bottom: 11px;

	&:nth-of-type(3) {
	  min-width: 100%;
	}
  }

  &__title {
	font-size: 18px;
	font-weight: bold;
	color: black;
  }

  &__info {
	font-size: 24px;
	color: black;
  }
}

.b-digest-wide {
  background-image: linear-gradient(-21deg, rgb(94, 218, 157) 0%, rgb(84, 185, 174) 100%);
  color: white;
  padding-top: 62px;
  padding-bottom: 98px;
  border: 20px solid white;

  &__left {
	padding-left: 35px;
	display: inline-block;
  }

  &__right {
	padding-right: 35px;
	display: inline-block;
	float: right;
	margin-top: 40px;
  }

  &__icon {

  }
  &__title {
	font-size: 24px;
	font-weight: bold;
	margin-top: 14px;
  }

  &__subtitle {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 50 / 1000em;
  }
}

.b-error {
  color: black;
  border: 20px solid white;
  height: calc(~'100vh - 90px');
  border-top: 0;
  background-size: cover;
  background-position: center;

  .container-fluid {
	padding: 0 10px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
  }

  a {
	color: #55bbad;
	text-decoration: underline;
	font-weight: 600;
  }

  &__str {
	font-size: 36px;
	font-weight: bold;
	vertical-align: bottom;
	display: inline-block;
	margin-left: 60px;
	position: relative;
	top: 12px;
  }

  &__title {
	font-size: 24px;
	margin-top: 25px;
	margin-bottom: 11px;

	a {
	  color: #5dd79e;
	}
  }

  &__description {
	font-size: 18px;
  }
}

.p-content {
  h1 {
	line-height: 30px;
	margin-bottom: 21px;
  }

  h2 {
	margin: 12px 0;
  }

  h3 {
	margin-top: 15px;
	line-height: 24px;
	margin-bottom: -4px;
  }

  p {
	line-height: 25px;
	margin: 12px 0;
  }

  blockquote {
	position: relative;
	font-weight: 600;
	margin: 0 calc(~'(100% - 220px) / 6 + 40px');
	line-height: 25px;
	font-size: 16px;
	padding-top: 32px;
	margin-bottom: 37px;
	margin-top: 40px;

	&:before {
	  position: absolute;
	  left: 0;
	  top: 0;
	  content: '';
	  width: 80px;
	  height: 10px;
	  background-color: #5eda9d;
	}
  }

  table {
	margin-top: 38px;
	width: 100%;
	text-align: left;

	thead {
	  background-color: #5eda9d;
	  color: black;
	  font-weight: 600;
	  font-size: 14px;
	  line-height: 20px;
	  tr {
		th {
		  padding: 20px;
		}
	  }
	}
	tbody {
	  &:before {
		content: "-";
		display: block;
		line-height: 26px;
		color: transparent;
	  }

	  color: black;
	  font-size: 14px;
	  line-height: 20px;

	  tr {
		&:hover {
		  background-color: #eef8f7;

		}
		td {
		  //height: 40px;
		  padding: 10px 20px;
		}
	  }
	}
  }
}

.b-bg-block {
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
  margin-bottom: 40px;
  margin-top: 21px;
  padding: calc(~'(100% - 220px) / 12');
  padding-top: 30px;
  padding-right: calc(~'(100% - 220px) / 2 + 80px');
  padding-bottom: 142px;

  & > * {
	position: relative;
  }

  &:before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(25deg, rgba(94, 218, 157, 0.8) 0%, rgba(84, 185, 174, 0.8) 100%);
	position: absolute;
  }

  p {
	color: white;
	line-height: 20px;
  }
}

.b-content-slider {
  background-color: red;
  height: 570px;
  margin-top: 60px;
  margin-bottom: 62px;
}

.b-notifications {
  ackground-color: red;
  height: 217px;
  margin-top: 114px;
}

.b-tabs {
  &__header {
	display: inline-block;
	border-bottom: 1px solid #d7d7d7;
	font-size: 0;
	margin-bottom: 47px;
  }

  &__item {
	display: inline-block;
	color: black;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: -1px;
	margin-right: 25px;
	line-height: 34px;
	border-bottom: 2px solid transparent;
	transition: border 0.3s;

	&:last-of-type {
	  margin-right: 0;
	}

	&_active {
	  color: #5eda9d;
	  border-bottom: 2px solid #5eda9d;
	}

	&:hover {
	  color: #acacac;
	  border-bottom: 2px solid #acacac;
	}
  }
  &__content {
  }
  &__container {

  }
}

.g-notification {
  font-size: 12px;
  font-weight: 600;
  padding: 6px 36px;
  line-height: 18px;
  margin: 20px 0;

  &_success {
	color: #5eda9d;
	background-color: #dff8eb;
  }

  &_danger {
	color: #ff0000;
	background-color: #ffcccc;
  }

  &_warning {
	color: #ff5400;
	background-color: #fddecc;
  }
}

.b-buttons {
  .g-button {
	margin-bottom: 40px;
  }
}

.b-video {
  width: 720px;
  position: relative;
  margin: 59px auto 62px;

  &__caption {
	text-align: center;
	position: relative;
	font-size: 14px;
	color: black;
	padding-bottom: 15px;
	margin-top: 34px;

	&:after {
	  position: absolute;
	  left: 50%;
	  bottom: 0;
	  content: '';
	  width: 80px;
	  height: 5px;
	  background-color: #5eda9d;
	  transform: translateX(-50%);
	}
  }

  .js-video {
	position: relative;
	width: 720px;
	height: 480px;
	background-size: cover;
	background-position: center;

	.b-video_overlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  background-image: linear-gradient(25deg, rgba(94, 218, 157, 0.8) 0%, rgba(84, 185, 174, 0.8) 100%);
	  width: 100%;
	  height: 100%;
	  cursor: pointer;

	  &:after {
		content: '';
		background-image: url("../images/play.png");
		width: 50px;
		height: 74px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	  }
	}
  }
}

.g-popup {
  background-color: white;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 80px;
	z-index: 1000;

  &__close {
	position: absolute;
	right: 189px;
	top: 90px;
	font-size: 21px;
	color: #54baae;
	cursor: pointer;
  }

  &__content {
  }
}

.b-request-popup {
  .center {
	text-align: center;
  }

  &__required_note {
	margin-top: -6px;
	margin-bottom: 32px;
	font-size: 12px;
	color: #54baad;
  }

  &__button {
	margin-top: 50px;
  }
}

.form-group {
  margin-bottom: 25px;

  &.required {
	.control-label {
	  &:after {
		content: ' *';
	  }
	}
  }

  &.has-success {
	.control-label {
	  color: #464646;
	}

	.form-control {
	  border-color: #5eda9d;
	  color: #464646;
	}
  }

  &.has-error {
	.control-label {
	  color: #ff5555;
	}

	.form-control {
	  border-color: #ff5555;
	  color: #ff5555;
	}
  }
}

.control-label {
  display: block;
  font-size: 14px;
  color: #acacac;
  padding-left: 9px;
  margin-bottom: 5px;
}

textarea.form-control {
  height: 180px;
}

.form-control {
  display: block;
  color: black;
  border: 1px solid #d7d7d7;
  height: 50px;
  box-sizing: border-box;
  line-height: 48px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  width: 100%;

  &::placeholder {
	color: #acacac;
  }
}

.help-block {
  position: absolute;
  white-space: nowrap;

  &.base-error {
	position: relative;
	white-space: normal;
  }
}
